* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Navbar styling */
.navbar {
    background-image: linear-gradient(to right, #a517ba, #5f1178);
}

.nav_li {
    padding: 15px;
}

.nav_a {
    text-decoration: none;
    color: #fff;
    text-decoration: 700;
} 

.nav_a:hover {
    text-decoration: none;
    color: oldlace;
}

/* Banner section */
#banner {
    background-image: linear-gradient(to right, #a517ba, #5f1178);
    color: #fff;
    padding-top: 5%;
}

.bannerH1 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

/* Voting section */
.votingBtn {
    padding: 12px 24px;
    background-image: linear-gradient(to right, #a517ba, #5f1178);
    color: #fff;
    border-radius: 6px;
    border: 2px solid #fff;
    transition: transform 250ms ease-in-out;
    margin-left: auto;
}

.votingBtn:hover {
    transform: scale(1.1);
}

.votingBtn.active {
    transform: scale(0.9);
}

/* About section */
#about {
    background-image: linear-gradient(to right, #a517ba, #5f1178);
    color: #fff;
    padding-top: 5%;
}

/* Contact section */
.contact-form-home {
    border: 2px solid #a517ba;
    padding: 20px;
    border-radius: 15px;
}

.submitBtn {
    padding: 12px 24px;
    background-image: linear-gradient(to right, #a517ba, #5f1178);
    color: #fff;
    border-radius: 6px;
    border: 2px solid #fff;
    transition: transform 250ms ease-in-out;
    margin-left: auto;
}

/* Footer section */
.footer_social_ul li {
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
    color: #a517ba;
}

.social-media {
    margin: 10px;
    color: #a517ba;
} 

/* insert_1_candidate styling */
td {
    padding-top: 20px;
    padding-bottom: 20px;
}